<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.process.dao.generator.DataFieldCombinationDao">
<!-- 牛马 工具生成 -->
  <resultMap id="BaseResultMap" type="com.process.entity.generator.DataFieldCombination">
    <id column="id" jdbcType="INTEGER" property="id" />     
    <result column="res_type" jdbcType="INTEGER" property="resType" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="table_uuid" jdbcType="VARCHAR" property="tableUuid" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="uuid" jdbcType="VARCHAR" property="uuid" />
    
  </resultMap>
<!--  -->
  <sql id="Base_Column_List">
      `res_type` ,
      `name` ,
      `table_uuid` ,
      `id` ,
      `describe` ,
      `uuid` 
  </sql>
  <sql id="orderBy">
    ORDER BY `id` DESC
  </sql>
<!-- and basis_name like CONCAT("%", #{expert.basisName,jdbcType=VARCHAR}, "%")-->
  <sql id="wherePage">
    <where>
      <if test="entity != null"> 
        <if test="entity.resType != null">
          AND `res_type`=#{entity.resType,jdbcType=INTEGER}
        </if>

        <if test="entity.name != null">
          AND `name`=#{entity.name,jdbcType=VARCHAR}
        </if>

        <if test="entity.tableUuid != null">
          AND `table_uuid`=#{entity.tableUuid,jdbcType=VARCHAR}
        </if>


        <if test="entity.describe != null">
          AND `describe`=#{entity.describe,jdbcType=VARCHAR}
        </if>

        <if test="entity.uuid != null">
          AND `uuid`=#{entity.uuid,jdbcType=VARCHAR}
        </if>

      </if>
    </where>
  </sql>

  <sql id="limit">
    limit #{page.offset,jdbcType=INTEGER} , #{page.pageSize,jdbcType=INTEGER}
  </sql>
  <sql id="setUpdate">
    <set> 
        <if test="resType != null">
          `res_type` = #{resType,jdbcType=INTEGER},
        </if> 
        <if test="name != null">
          `name` = #{name,jdbcType=VARCHAR},
        </if> 
        <if test="tableUuid != null">
          `table_uuid` = #{tableUuid,jdbcType=VARCHAR},
        </if> 
        <if test="describe != null">
          `describe` = #{describe,jdbcType=VARCHAR},
        </if> 
        <if test="uuid != null">
          `uuid` = #{uuid,jdbcType=VARCHAR},
        </if> 
    </set>
  </sql>
<!-- list查询  -->
  <select id="selectByOther" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM data_field_combination
    <include refid="wherePage" /> <include refid="orderBy" />
  </select>
  <!-- count -->
  <select id="count" resultType="long">
    SELECT count(*) FROM data_field_combination <include refid="wherePage" />
  </select>
  <!-- list查询分页  -->
  <select id="selectPageByOther" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM data_field_combination
    <include refid="wherePage" />
    <include refid="orderBy" /> <include refid="limit" />
  </select>
  <sql id="wherePrimaryKey">
    `id` = #{id,jdbcType=INTEGER}
  </sql>
  <!-- 主键查询 -->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM data_field_combination WHERE <include refid="wherePrimaryKey" />
  </select>

  <!-- 主键删除 -->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    DELETE FROM data_field_combination WHERE <include refid="wherePrimaryKey" />
  </delete>
  <!-- 根据主键update -->
  <update id="updateByPrimaryKeySelective" parameterType="com.process.entity.generator.DataFieldCombination">
    UPDATE data_field_combination
    <include refid="setUpdate" />
    WHERE <include refid="wherePrimaryKey" />
  </update>
<!-- 动态sql插入 -->
  <insert id="insertSelective"    useGeneratedKeys="true" keyProperty="id"   parameterType="com.process.entity.generator.DataFieldCombination">
    INSERT INTO data_field_combination
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="resType != null">
        `res_type`,
      </if> 
      <if test="name != null">
        `name`,
      </if> 
      <if test="tableUuid != null">
        `table_uuid`,
      </if> 
      <if test="describe != null">
        `describe`,
      </if> 
      <if test="uuid != null">
        `uuid`,
      </if> 
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="resType != null">
        #{resType,jdbcType=INTEGER},
      </if> 
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if> 
      <if test="tableUuid != null">
        #{tableUuid,jdbcType=VARCHAR},
      </if> 
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if> 
      <if test="uuid != null">
        #{uuid,jdbcType=VARCHAR},
      </if> 
    </trim>
  </insert>
<!-- 批量插入  -->
  <insert id="insertBatch"   useGeneratedKeys="true" keyProperty="id"   parameterType="java.util.List">
    INSERT INTO data_field_combination
    (
      `res_type` ,
      `name` ,
      `table_uuid` ,
      `id` ,
      `describe` ,
      `uuid` 
    )
    VALUES
    <foreach collection ="list" item="item" separator =",">
      (
#{item.resType,jdbcType=INTEGER},

#{item.name,jdbcType=VARCHAR},

#{item.tableUuid,jdbcType=VARCHAR},

#{item.id,jdbcType=INTEGER},

#{item.describe,jdbcType=VARCHAR},

#{item.uuid,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>
  <select id="selectByTableUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM data_field_combination WHERE `table_uuid` = #{tableUuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByTableUuid" parameterType="java.lang.String">
    DELETE FROM data_field_combination WHERE `table_uuid` = #{tableUuid,jdbcType=VARCHAR}
  </delete>
  <select id="selectByUuid" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" /> FROM data_field_combination WHERE `uuid` = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByUuid" parameterType="java.lang.String">
    DELETE FROM data_field_combination WHERE `uuid` = #{uuid,jdbcType=VARCHAR}
  </delete>
  <update id="updateByUuid" parameterType="com.process.entity.generator.DataFieldCombination">
    UPDATE data_field_combination
    <include refid="setUpdate" />
    WHERE `uuid` = #{uuid,jdbcType=VARCHAR}
  </update>
</mapper>